# Ignore virtual environment directory
.venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore local development settings
todo_project/settings/local.py

# Ignore IDE-specific files
.vscode/
.idea/